.blog-wrapper {
  justify-content: center;
}

.card {
  padding: 0 8px 16px;
}

.image {
  min-height: 200px;
}

mat-icon {
  vertical-align: middle;
  height: auto;
  width: 16px;
  font-size: 16px;
}
