<mat-card>
      <mat-card-header>
            <div id="speed-net">
                  <svg id="gauge" style="enable-background: new 0 0 100 100;" version="1.1" viewBox="0 0 100 100"
                        x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" y="0px">
                        <path d="M12.9,75.5c0.3,0.5,0.7,0.9,1,1.4l7.6-5.7c-0.3-0.4-0.5-0.7-0.8-1.1L12.9,75.5z"
                              style="display: none;" />
                        <path d="M9.3,69.3c0.3,0.5,0.5,1,0.8,1.5l8.4-4.4c-0.2-0.4-0.4-0.8-0.6-1.2L9.3,69.3z"
                              style="display: none;" />
                        <path d="M6.7,62.4C6.9,62.9,7,63.5,7.2,64l9.1-3c-0.1-0.4-0.3-0.8-0.4-1.2L6.7,62.4z"
                              style="display: none;" />
                        <path d="M5.3,55.2c0,0.6,0.1,1.1,0.2,1.7l9.4-1.5c-0.1-0.4-0.1-0.9-0.2-1.3L5.3,55.2z"
                              style="display: none;" />
                        <path d="M5,47.9c0,0.6,0,1.1,0,1.7l9.5,0.1c0-0.5,0-0.9,0-1.4L5,47.9z" style="display: none;" />
                        <path d="M5.9,40.7c-0.1,0.6-0.2,1.1-0.3,1.7L15,44c0.1-0.4,0.2-0.9,0.2-1.3L5.9,40.7z"
                              style="display: none;" />
                        <path d="M8,33.7c-0.2,0.5-0.4,1.1-0.6,1.6l9,3.1c0.1-0.4,0.3-0.9,0.5-1.3L8,33.7z"
                              style="display: none;" />
                        <path d="M11.2,27.1c-0.3,0.5-0.5,1-0.8,1.5l8.3,4.6c0.2-0.4,0.4-0.8,0.7-1.2L11.2,27.1z"
                              style="display: none;" />
                        <path d="M15.5,21.2c-0.4,0.4-0.8,0.9-1.1,1.3l7.5,5.8c0.3-0.4,0.6-0.7,0.9-1.1L15.5,21.2z"
                              style="display: none;" />
                        <path d="M20.6,16c-0.5,0.3-0.9,0.7-1.3,1.1l6.5,7c0.3-0.3,0.6-0.6,1-0.9L20.6,16z"
                              style="display: none;" />
                        <path d="M26.4,11.7c-0.5,0.3-0.9,0.6-1.4,0.9l5.3,7.9c0.3-0.2,0.7-0.5,1-0.7L26.4,11.7z"
                              style="display: none;" />
                        <path d="M33,8.3c-0.6,0.2-1.1,0.5-1.6,0.7l3.9,8.7c0.4-0.2,0.9-0.4,1.3-0.6L33,8.3z"
                              style="display: none;" />
                        <path d="M39.9,6.1c-0.5,0.1-1.1,0.3-1.6,0.4l2.5,9.2c0.4-0.1,0.8-0.2,1.2-0.3L39.9,6.1z"
                              style="display: none;" />
                        <path d="M47.2,5.2c-0.6,0-1.1,0-1.7,0.1l0.9,9.4c0.4,0,0.9-0.1,1.3-0.1L47.2,5.2z"
                              style="display: none;" />
                        <path d="M54.5,5.2c-0.6,0-1.1-0.1-1.7-0.1l-0.6,9.5c0.4,0,0.9,0.1,1.3,0.1L54.5,5.2z"
                              style="display: none;" />
                        <path d="M61.6,6.5c-0.5-0.1-1.1-0.3-1.6-0.4l-2.2,9.3c0.4,0.1,0.9,0.2,1.3,0.3L61.6,6.5z"
                              style="display: none;" />
                        <path d="M68.6,9C68,8.7,67.5,8.5,67,8.3l-3.6,8.8c0.4,0.2,0.8,0.3,1.2,0.5L68.6,9z"
                              style="display: none;" />
                        <path d="M74.9,12.5c-0.4-0.3-0.9-0.6-1.4-0.9l-5,8.1c0.4,0.2,0.7,0.5,1.1,0.7L74.9,12.5z"
                              style="display: none;" />
                        <path d="M80.6,17c-0.5-0.4-0.9-0.7-1.3-1.1l-6.2,7.2c0.3,0.3,0.7,0.6,1,0.9L80.6,17z"
                              style="display: none;" />
                        <path d="M85.7,22.4c-0.4-0.4-0.7-0.9-1.1-1.3l-7.4,6.1c0.3,0.3,0.5,0.7,0.8,1L85.7,22.4z"
                              style="display: none;" />
                        <path d="M89.6,28.6c-0.2-0.5-0.5-1-0.8-1.5L80.6,32c0.2,0.4,0.4,0.7,0.6,1.1L89.6,28.6z"
                              style="display: none;" />
                        <path d="M92.5,35.3c-0.2-0.5-0.4-1.1-0.6-1.6l-8.8,3.4c0.2,0.4,0.3,0.8,0.5,1.2L92.5,35.3z"
                              style="display: none;" />
                        <path d="M94.4,42.2c-0.1-0.5-0.2-1.1-0.3-1.6l-9.4,2c0.1,0.4,0.2,0.9,0.2,1.3L94.4,42.2z"
                              style="display: none;" />
                        <path d="M95,47.8l-9.5,0.5c0,0.4,0,0.9,0,1.3l9.5-0.1C95,48.9,95,48.4,95,47.8z"
                              style="display: none;" />
                        <path d="M94.5,56.8c0.1-0.5,0.1-1.1,0.2-1.7l-9.4-1c-0.1,0.4-0.1,0.9-0.2,1.3L94.5,56.8z"
                              style="display: none;" />
                        <path d="M92.8,63.9c0.2-0.5,0.3-1,0.5-1.7l-9.1-2.6c-0.1,0.4-0.3,0.9-0.4,1.3L92.8,63.9z"
                              style="display: none;" />
                        <path d="M90,70.7c0.2-0.5,0.5-1,0.8-1.5l-8.7-4.1c-0.2,0.4-0.4,0.8-0.6,1.2L90,70.7z"
                              style="display: none;" />
                        <path d="M89.9,80.1c0.5-0.7,1-1.3,1.4-1.9l-12-8.2c-0.3,0.4-0.6,0.9-0.9,1.3L89.9,80.1z"
                              style="display: none;" />
                  </svg>
                  <div id="gauge-label">{{download || upload}}</div>
            </div>
      </mat-card-header>
      <mat-card-actions>
            <div id="select-server">
                  <mat-form-field appearance="outline">
                        <mat-label>Servers</mat-label>
                        <mat-select (selectionChange)="changeServer(serverSelected)" [(value)]="serverSelected"
                              [disabled]="finished || pending">
                              <mat-option *ngFor="let server of servers; index as i" [value]="i">
                                    {{server.ip}}
                              </mat-option>
                        </mat-select>
                  </mat-form-field>
            </div>
            <div>
                  <button (click)="startTest()" *ngIf="!finished" [disabled]="pending" mat-raised-button>
                        <mat-icon *ngIf="!pending">network_check</mat-icon>
                        <mat-icon *ngIf="pending">
                              <mat-progress-spinner diameter="20" mode="indeterminate"></mat-progress-spinner>
                        </mat-icon>
                        Start
                  </button>
                  <button (click)="saveResults()" *ngIf="finished" mat-raised-button>
                        <mat-icon>save</mat-icon>
                        Save
                  </button>
                  <button (click)="clearResults()" *ngIf="finished" mat-raised-button>
                        <mat-icon>clear</mat-icon>
                  </button>
            </div>
      </mat-card-actions>
      <mat-card class="speedtest-info mat-elevation-z8">
            <mat-card-content>
                  <mat-list>
                        <mat-list-item><span>Ping:</span><span class="value">{{ping + 'ms'}}</span></mat-list-item>
                        <mat-list-item>
                              <span>Download:</span><span class="value">{{(downloadAvg < 1) ? downloadAvg * 1000
                                          + 'Kbps' : downloadAvg + 'Mbps' }}</span>
                        </mat-list-item>
                        <mat-list-item>
                              <span>Upload:</span><span class="value">{{(uploadAvg < 1) ? uploadAvg * 1000 + 'Kbps' :
                                          uploadAvg + 'Mbps' }}</span>
                        </mat-list-item>
                  </mat-list>
            </mat-card-content>
            <mat-card-content>
                  <mat-list>
                        <mat-list-item>
                              <span>IP: </span><span class="value">{{info ? info['ip'] : '---.---.---.---'}}</span>
                        </mat-list-item>
                        <mat-list-item>
                              <span>Continent:</span>
                              <span class="value">{{info ? info['continent'] : '-----'}}({{info ? info['continent_code']
                                    : '-----'}})</span>
                        </mat-list-item>
                        <mat-list-item>
                              <span>Country:</span>
                              <span class="value">{{info ? info['country'] : '-----'}}({{info ? info['country_code'] :
                                    '-----'}})
                                    <img alt="flag" height="24px"
                                          src="{{info ? info['country_flag'] : '/assets/logo.svg'}}"
                                          width="32px" /></span>
                        </mat-list-item>
                  </mat-list>
            </mat-card-content>
            <mat-card-content>
                  <mat-list>
                        <mat-list-item>
                              <span>ISP:</span><span class="value">{{info ? info['isp'] : '-----'}}</span>
                        </mat-list-item>
                        <mat-list-item>
                              <span>Latitude:</span>
                              <span class="value">{{info ? info['latitude'] : '-----'}}&deg;</span>
                        </mat-list-item>
                        <mat-list-item>
                              <span>Longitude:</span>
                              <span class="value">{{info ? info['longitude'] : '-----'}}&deg;</span>
                        </mat-list-item>
                  </mat-list>
            </mat-card-content>
      </mat-card>
</mat-card>